<h1>This is an entry that will have an image, some text, like button, delete button only for the user that created it and maybe comment box and edit button for the creator</h1>
<h2>will render a specific entry by its id (to be done in the entriesController, not done yet) </h2>