<h1>home</h1>
<h2>will render home page</h2>

<p>test ejs</p>
<a href="/signup">Signup</a>
<a href="/login">Login</a>
<a href="/feed">Feed</a>
<a href="/profile">Profile</a>
<a href="/entry">Entry</a>